
body{
        scrollbar-color: blue lightblue;
    scrollbar-width: auto;
}

header{
    background-color: #BBBBBB;
    padding: 20px 0;
}


.caja{
    width:  940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top:110px;
    right: 0;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

nav li{
    display: inline;
    margin:0 0 0 15px;

}

main {
    width: 940px;
    margin:0 auto;
}


form{
    margin: 40px 0    
}

form label, form legend{
    padding: 5px;
    display: block;
    font-size: 20px;
    margin:0 0 10px;
}

form input{
    display: inline;
    margin: 0 0 20px;
    padding: 10px 15px;
    width: 10%;
}
.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 35px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background:orangered;
    border-radius: 10px;
    transition: 1s  background;
    
    cursor:pointer;
    
}

.enviar:hover {
    background: yellowgreen;
    transform: scale(1.2);

}
table{
    margin: 40px 40px; 
}

thead{
    background:#555555;
    color: white;
    font-weight: bold;;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}


footer{
    text-align: center;
    background: url(Image/bg.jpg );
    padding: 40px;
}

.copyrigth{
    color:#ffffff;
    font: size 13px;
    margin:20px;
}